<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396739318592-nftt2e989aqbjekj27t76ggm0i673olo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396739318592-nftt2e989aqbjekj27t76ggm0i673olo</string>
	<key>API_KEY</key>
	<string>AIzaSyDbuIjuRBWg4AMtkvoSxogfiDANLHlptxE</string>
	<key>GCM_SENDER_ID</key>
	<string>396739318592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SimpleChat</string>
	<key>PROJECT_ID</key>
	<string>simple-chat-5d278</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-chat-5d278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396739318592:ios:168bb1a6207c905b</string>
	<key>DATABASE_URL</key>
	<string>https://simple-chat-5d278.firebaseio.com</string>
</dict>
</plist>